@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #1b3a34;
    --color-secondary: #142824;
    --color-accent: #c7d9d5;
    --color-dark: #142824;
    --color-light: #f7faf9;
}

:root {
    --background: #f9f9f9;
    --foreground: #111111;
    --green-border: #5e7067;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: black;
    scroll-behavior: smooth;
}

.font-caveat {
    font-family: var(--font-caveat);
}

.green-border {
    border-color: var(--green-border);
}
